@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: 1px solid rgba(0, 22, 22, 0.4);
}

#main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 10px 20px 20px 20px;
    margin-bottom: 110px;
}

header {
    font-size: 3rem;
    font-weight: 700;
    padding: 40px 0 20px 0;
    margin-left: 10px;
    text-align: center;
}

#main-doc header {
    text-align: left;
    padding: 20px 0 20px 0;
}

#main-doc header::before {
    content: "";
    border-left: 10px solid rgba(128, 128, 190, 0.63);
    padding: 2px;
}

#main-doc header:hover::before {
    border-left: 10px solid rgba(66, 170, 255, 0.63);
    transition: border-left ease-in 0.2s;
}
